html, body, #app, main{
    height: 100%;
}

.Login{
    background: #e74a3b!important;
}

.container#app-login{
    height: 100%;
}
#reporte_table tbody tr.danger-status,
#reporte_table tbody tr.danger-status td{
    background: #ff0808a1;
}
#reporte_table tbody tr.danger-status td,
#reporte_table tbody tr.danger-status td i{
    color: #fff;
    font-weight: bold;
}

#reporte_table tbody tr.warning-status,
#reporte_table tbody tr.warning-status td{
    background: rgba(255, 141, 0, 0.97);
}
#reporte_table tbody tr.warning-status td,
#reporte_table tbody tr.warning-status td i{
    color: #fff;
    font-weight: bold;
}

#reporte_table tbody tr.leave-status,
#reporte_table tbody tr.leave-status td{
    background: rgba(255, 242, 0, 0.97);
}
#reporte_table tbody tr.leave-status td,
#reporte_table tbody tr.leave-status td i{
    color: #717171;
    font-weight: bold;
}

/*#reporte_table tbody tr.success{
    background: rgba(8, 255, 62, 0.63);
}*/


.table-loader{
    visibility:hidden;
}
.table-loader:before {
    visibility:visible;
    display:table-caption;
    content: " ";
    width: 100%;
    height: 600px;
    background-image:
        linear-gradient( rgba(235, 235, 235, 1) 1px, transparent 0 ),
        linear-gradient(90deg, rgba(235, 235, 235, 1) 1px, transparent 0 ),
        linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 0) 30% ),
        linear-gradient( rgba(240, 240, 242, 1) 35px, transparent 0 );

    background-repeat: repeat;

    background-size:
        1px 35px,
        calc(100% * 0.1666666666) 1px,
        30% 100%,
        2px 70px;

    background-position:
        0 0,
        0 0,
        0 0,
        0 0;

    animation: shine 0.5s infinite;
}

@keyframes shine {
    to {
        background-position:
            0 0,
            0 0,
            40% 0,
            0 0;
    }
}
.content-card-dash a{
    text-decoration: none;
}

.card-dash{
    border: none;
    border-bottom: 2px solid #00000014;
    transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
.card-dash:hover{
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.15);
}
